{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <h1>Galvanize Reads</h1>

  <div class="container">
    <hr>
      <div class="row">
        <div class="col-md-4">
          <img src="{{books[0].book_cover}}" class="books-img">
        </div>
        <div class="col-md-6 book-description">
          <p>
          </p>
          <h2>{{books[0].book_title}}</h2>
          <p> By:
            {{books[0].author1}}
            {% if book.author2 %},
              {{books[0].author2}}
            {% endif %}
            {% if books[0].author3 %},
              {{books[0].author3}}
            {% endif %}
          </p>
          <p> Genre:
            {{books[0].genre}}
          </p>
          <div>Description: <br><br>
            {{books[0].description}}
             </div>
             <hr>
        </div>
      </div>
    </div>

    <div class="btn btn-warning">
      <a href="/authors">Authors</a>
    </div>


{% endblock %}
