body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #455;
}

a {
  color: #ffffFF;
}

.books-img {
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 450px;
  max-height: 400px;
}

.author-row {
  padding-bottom: 50px;
}

.author-img {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  text: strong;
}

div.row {
  background-color: #355;
  padding: 0 20px;
}

.hr-desc {
  color: red;
}
